<!DOCTYPE html>
<html>
<title>NueSchool - By Schooliosis</title>
<head>

<!--MATERIALIZE STYLESHEETS/SCRIPT INPUTS (STANDARDIZED) + CUSTOM STYLESHEET/SCRIPT CONNECTIONS -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Personal stylesheet-->
    <link type="text/css" rel="stylesheet" href="assets/css/nueschool_style.css" media="screen,projection" />
    <!--Insert any additional external script sheets here:-->

</head>

<body>

    {{{ body }}}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/js/materialize.min.js"></script>
        <script src="assets/js/nueschool_index.js" type='text/javascript'></script>
     <script>$(document).ready(function(){ // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal(); });</script>

</body>

    <!--Footer-->
<footer>
    <center><h6>Copyright Schooliosis Group, 2018</h6></center>  
</footer>
</html>

