body {
    font-family: 'Crimson Text', serif;
    background-image: url("download.jpg");
}

nav .brand-logo {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
}

.test {
    margin-top: 30px;
}

.slack {
    width: 95%;
}

.github {
    width: 95%;
}

.linkedin {
    width: 95%;
}

/*form {
    margin-left: 82%;
    width: 300px;
    height: 45px;
    background-color: #c9e9dd;
    font-size: 30px;
}*/

#search {
    height: 45px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #5e5b5c;
    font-size: 29px;
    font-style: italic;
    font-weight: bold;
}

.waves-effect waves-teal btn-flat delete-btn tiny material-icons {
    font-size: 17px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    opacity: .5;
    font-size: 29px;
    font-style: italic;
    font-weight: bold;
}

.grey.darken-4 {
    background-color: black !important;
    opacity: .5;
}
